$color_1: #264653;
$color_2: #2a9d8f;
$color_3: #e9c46a;
$color_4: #f4a261;
$color_5: #e76f51;

$color1: #a75eea;
$color2: #37ccff;
$color3: #2df7a3;
$color4: #017bfe;
$background_color: #f8f9fa;

.exprience__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .exprience__section {
    margin-bottom: 2rem;
    color: $color_1;
    padding: 2rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .exprience__container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
