$color_1: #151515;
$color_2: #2a9d8f;
$color_3: #e9c46a;
$color_4: #f4a261;
$color_5: #e76f51;

$color1: #a75eea;
$color2: #37ccff;
$color3: #2df7a3;
$color4: #017bfe;
$background_color: #f8f9fa;
$hover_color: #ffd700;

.header__contaier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem 10rem;
  color: $background_color;
  background-image: linear-gradient(to right, $color_1, $color2);

  .header__left {
    padding-left: 0;
    animation: slideInFromLeft 0.5s ease-in;

    .header_text {
      font-size: 1.5rem;
      width: 600px;
      h1 {
        font-weight: bold;
      }
    }
    .header__icons {
      a {
        text-decoration: none;
        color: $background_color;
        margin-right: 0.5rem;
      }
    }
    .icon {
      margin: 0 auto;
      font-size: 2rem;
      margin-right: 0.3rem;
      &:hover {
        transition: all 0.5s ease-out;
        border-radius: 3px;
        transform: scale(1.01);
        background-color: $hover_color;
        color: $color_1;
      }
    }

    .header__download {
      margin: 1rem 0;
    }
  }
  .header__right {
    animation: slideInFromRight 0.5s ease-in;
    .right__image {
      img {
        height: 335px;
        width: 355px;
        border-radius: 100%;
        &:hover {
          transition: all 0.5s ease-out;
          transform: scale(1.1);
        }
      }
    }
  }
  .btn {
    margin-left: 0;
    padding: 0.3rem 0.8rem;
    margin-right: 1rem;
    background-color: $hover_color;
    color: $color_1;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    &:hover {
      transition: all 0.5s ease-out;
      background-color: $background_color;
      color: $color_1;
      transform: scale(1.01);
    }
  }
}

@media only screen and (max-width: 600px) {
  .header__contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    text-align: center;
    padding: 0 1rem;
  }
  .header__right {
    display: none;
  }
  .header__contaier .header__left .header_text {
    font-size: 1.5rem;
    width: fit-content;
    margin-bottom: 5rem;
  }
  .header__download {
    display: flex;
    flex-direction: column;

    .btn {
      font-size: 1rem;
      padding: 0.1rem;
    }
  }
  .header__icons {
    display: flex;
  }
}
